				
<!-- Day panel -->
<div class="container-fluid daypanel hide" id="dayPanel"></div>

<!-- Day panel ends -->

<!-- Todo Input -->

<div class="container-fluid todo-block" id="todoApp"></div>

<!-- Ends Here -->

<!-- Todo Summary -->

<div class="container-fluid todosummary-block">
	<div class="row-fluid">
		<span class="span1"></span>
		
		<span class="span8" id="todoSummary"></span>				
								
		<!-- Right side bar -->
								
		<span class="span2 right">
			<div id="scriblingPadInfoBlock" class="span12">
					<div class="alert alert-success"></div>
					<div class="alert alert-error"></div>
					<div class="alert alert-info"></div>
			</div>
			<div class="notes-box">
				<ul id="notes" class="nav bs-docs-sidenav">
				</ul>
			</div>
			<div class="tasks-box">
				<ul id="task" class="nav nav-list bs-docs-sidenav">
					<li class="headline">Task <i class="right plus-icon-one"></i></li>
				</ul>
			</div>
			<div class="meeting-box">
				<ul id="meeting" class="nav nav-list bs-docs-sidenav">
					<li class="headline">Meetings <span class=" right plus-icon-two"></span></li>
				</ul>
			</div>
		</span>
		
		<!-- Right side bar ends -->
							
		<span class="span1"></span>
	</div>
</div>
<!-- Todo Summary Ends-->
				