				<div class="row-fluid">
						<span class="span1"></span>
						<div class="span2">
							<div class="span12">
								<span class="span6 center date"
								id="dayOneDate"></span><span class="span6 count-box"> <span
									class="span12"><span id="dayOneTasks"></span> Tasks</span> <span
									class="span12"><span id="dayOneTodos"></span> Todos</span> </span>
							</div>
							<div class="span6 left day-box" id="dayOneDay">
							</div>
						</div>
						<div class="span2">
							<div class="span12">
								<span class="span6 center date"
								id="dayTwoDate"></span><span class="span6 count-box"> <span
									class="span12"><span id="dayTwoTasks"></span> Tasks</span> <span
									class="span12"><span id="dayTwoTodos"></span> Todos</span> </span>
							</div>
							<div class="span6 left day-box" id="dayTwoDay">
							</div>
						</div>
						<div class="span2">
							<div class="span12">
								<span class="span6 center date"
								id="dayThreeDate"></span><span class="span6 count-box"> <span
									class="span12"><span id="dayThreeTasks"></span> Tasks</span> <span
									class="span12"><span id="dayThreeTodos"></span> Todos</span> </span>
							</div>
							<div class="span6 left day-box" id="dayThreeDay">
							</div>
						</div>
						<div class="span2">
							<div class="span12">
								<span class="span6 center date"
								id="dayFourDate"></span><span class="span6 count-box"> <span
									class="span12"><span id="dayFourTasks"></span> Tasks</span> <span
									class="span12"><span id="dayFourTodos"></span> Todos</span> </span>
							</div>
							<div class="span6 left day-box" id="dayFourDay">
							</div>
						</div>
						<div class="span2">
							<div class="span12">
								<span class="span6 center date"
								id="dayFiveDate"></span><span class="span6 count-box"> <span
									class="span12"><span id="dayFiveTasks"></span> Tasks</span> <span
									class="span12"><span id="dayFiveTodos"></span> Todos</span> </span>
							</div>
							<div class="span6 left day-box" id="dayFiveDay">
							</div>
						</div>
						<span class="span1"></span>
				</div>