<!--	<div class="span12">
        <i class="icon-pencil"></i>Edit
    </div>
    <div class="span12">
        <i class="icon-star"></i>Today
    </div>
    <div class="span12">
        <i class="icon-ok"></i>Completed
    </div>
    <div class="span12">
        <i class="icon-share"></i>Later
    </div>
    <div class="span12">
        <i class="icon-remove"></i>Delete
    </div>
    
    
    
    
    
    
    
    --><div class="span12">
                    <i class="icon-pencil"></i>Edit
                </div>
                <div class="span12">
                    <i class="icon-star"></i>Today
                </div>
                <div class="span12">
                    <i class="icon-ok"></i>Completed
                </div>
                <div class="span12">
                    <i class="icon-share"></i>Later
                </div>
                <div class="span12">
                    <i class="icon-remove"></i>Delete
                </div>
                <div class="span12 priority-list">
                    <span class="high-priority"></span>
                    <label>High Priority</label>
                </div>
                <div class="span12 priority-list">
                    <span class="medium-priority"></span>
                    <label>Medium Priority</label>
                </div>
                <div class="span12 priority-list">
                    <span class="low-priority"></span>
                    <label>Low Priority</label>
                </div>