<div class="scribbling-page container">
<div id="scriblingPadInfoBlock" class="span10">
					<div class="alert alert-success"></div>
					<div class="alert alert-error"></div>
					<div class="alert alert-info"></div>
</div>

<div class="align-center" id="notes"></div>



<span class="row">
    <table class="table table-bordered">
    	<caption class="headline">My scribbling Notes</caption>
		<thead>
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Scribbling Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="scribblingData"></tbody>
	</table>
</span>	
</div>