<div class="settings-page container">

<div class="align-center" id="settings"></div>
<span class="">

    <table class="table table-bordered">
    	<caption class="headline">Set Remainder</caption>
			<tr>
				<td>For To Do's</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosTodo" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosTodo" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			<tr>
				<td>Scribbling Note</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosNote" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosNote" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			<tr>
				<td>For Meetings</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosMeeting" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosMeeting" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
	</table>
	
	<table class="table table-bordered">
    	<caption class="headline">Select Widget</caption>
			<tr>
				<td>My To Do's </td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetTodo" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetTodo" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
				
			</tr>
			<tr>
				<td>Tasks </td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetTask" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetTask" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			<tr>
				<td>Meetings</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetMeeting" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetMeeting" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			<tr>
				<td>My Scribbling Pad </td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetNote" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetNote" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			
			<tr>
				<td>My Documents</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetDoc" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetDoc" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
			
			<tr>
				<td>My Calendar </td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetCalendar" id="optionsRadios1" value="option1" checked>
					Yes
				</label>
				</td>
				<td>
				<label class="radio">
  					<input type="radio" name="optionsRadiosWidgetCalendar" id="optionsRadios2" value="option2">
					No
				</label>
				</td>
			</tr>
	</table>
	
	<table class="table table-bordered">
    	<caption class="headline">Quick Links<span class="right icon-plus-sign"></span></caption>
			<tr>
				<td>Add Time Sheet Entry</td>
				<td><i class="icon-pencil" title="edit" ></i></td>
				<td><i class="icon-remove" title="delete" ></i></td>
			</tr>
			<tr>
				<td>Add Remainder</td>
				<td><i class="icon-pencil" title="edit" ></i></td>
				<td><i class="icon-remove" title="delete" ></i></td>
			</tr>
			<tr>
				<td>Request for leave</td>
				<td><i class="icon-pencil" title="edit" ></i></td>
				<td><i class="icon-remove" title="delete" ></i></td>
			</tr>
			<tr>
				<td>Quick Link 4</td>
				<td><i class="icon-pencil" title="edit" ></i></td>
				<td><i class="icon-remove" title="delete" ></i></td>
			</tr>
			<tr>
				<td>Quick Link 5</td>
				<td><i class="icon-pencil" title="edit" ></i></td>
				<td><i class="icon-remove" title="delete" ></i></td>
			</tr>
	</table>
	
</span>

</div>