<span class="todo-list row-fluid left" id="">
      	<span class="span2">
      		<span class="span8 time" id="taskDate"></span><span id="setPriority" class="span4"></span>
      	</span>
      	<span id="boxType" class="span10">
	        <div class="row-fluid left">
	        	<span class="span4 protext_pending" id="taskName"></span>
	        	<span clas="span5" id="taskDetails">
	        		<span class="todo-category">Category:<span id="taskCategory"></span></span>
	        		<span class="todo-project">| Project:<span id="taskProject"></span></span>
	        	</span>
	        	<span class="pull-right span3" id="tasksList">
		        	<i class="icon-eye-open" id="view" title="view todo"></i>
			    	<i class="icon-edit" id="edit" title="edit"></i>
			    	<i class="icon-star" id="today" title="today"></i>
			        <i class="icon-ok" id="completed" title="complete"></i>
			        <i class="icon-share-alt" id="later" title="do next day"></i>
			        <i class="icon-trash" id="delete" title="delete"></i>
	        	</span>
	        </div>
        </span>	
</span>

